* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #2b2534;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cell {
    width: 160px;
    height: 160px;
    background: rgb(86, 86, 106);
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.201);
}

.cell.x::before, .cell.x::after {
    background: #d79700;
    width: 20px;
    height: 100px;
    content: '';
    position: absolute;
    top: 30px;
    left: 70px;
    border-radius: 3px;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

.cell.o::before {
    content: '';
    background: #00c6a5;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: 30px;
    left: 30px;
}

.cell.o::after {
    content: '';
    background: rgb(86, 86, 106);
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.win-message {
    background: #00000033;
    color: white;
    font-size: 3em;
    display: none;
}

.win-message.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.replay {
    padding: 10px 20px;
    background: rgb(0, 45, 77);
    color: white;
    border-radius: 20px;
    border: none;
}